/*  
 html{
    box-sizing: border-box;
    /* background-color:#363636; */
    /* background-color: #fff; */
/* } */

/* *, *::after, *::before{ */
    /* box-sizing: inherit; */
    /* margin: 0; */
    /* padding: 0; */
/* }  */
 

@media(max-width:500px){
    
.container{
    display: none;
}

.wrapper-500{
    display: block;
    background-color: #363636;  
    width: 100vw;
    height: 1000px;
    position: relative;
}
    .menu_and_slider{
        width: 100vw;
        height: 300px;
    }
        .slider-500{
            position: relative;
            width: 100%;
            height: 100%;
        }
            .slider-500 .swiper{
                width: 100%;
                height: 100%;
            }
                .shadow{
                    position: absolute;
                    width: 100%;
                    overflow: hidden;
                    height:100%;
                    background-color: rgba(0, 0, 0, .6);
                    z-index: 11;
                    border-radius: 1vw;
                    font-size: 12px;
                }
                .swiper-wrapper{
                    width: 100%;
                    height: 100%;
                }
                    #swiper_1-500{
                        object-fit:cover;
                        display:block;
                        height:100%;
                        width: 100%;
                    }
                    #swiper_2-500{
                        object-fit:cover;      
                        display:block;
                        height:100%;
                        width: 100%;
                    }
            
            .logo_search_buttons{
                display: flex;
                flex-direction: row;
                position: absolute;
                top: 0;
                /* background-color: aqua; */
                z-index: 10;
                height: 9vw;
                width: 100%;
                font-size: 8px;


				background-color: rgba(0, 0, 0, 0);



            }     

                .sandwich{
                    height: 100%;                    
                    width: 10vw;
                    display: flex; 
                    flex-direction: column;
                }
                    .sandvich_line{
                        height: 1vw;
                        width: 90%;
                        background-color: #3CBB9D;
                        margin: 1vw 0 1vw 0;
                    }

                   .menu_and_slider .sandwich_inactive{
                        display: none;
                    }

                    .menu_and_slider .sandwich_wrapper{
                        display: block;
                        background-color: rgba(54, 54, 54, 0.8);
                         height: 100%;
                         width: 100%;
                         position: absolute;
                         z-index: 2;
                         height: 30%;
                     }   
                     .sandwich_menu{
                         color: white;
                         font-size: 4vw;
                         padding: 9vw 5vw;
                         list-style: none;
                         text-decoration: none;
                     }
                     .sandwich_menu li{
                         margin: 6vw 0 6vw 3vw ;
                         font-family: 'Ubuntu', sans-serif;
                         
                     }
             
                     .sandwich_menu li a{
                         text-decoration: none;
                         color: inherit;
                     }
                .logo{
                    /* text-align: center; */
                    font-size: 2.8vw;
			        margin: 1vw;
			        color: #3CBB9D;
                }
                    .logo a{
                        text-decoration: none; 
                        color: #3CBB9D;
                    }
                
                .login{
                    margin-left: 3px;
			        display: flex;
			        flex-direction: row;
			        color: white;
			        justify-items: space-between;
			        align-items:center; 
                }
                    .login__btn{
                        width: 6vw;
                    }    
                    .login .login__text{
                        font-family: 'Ubuntu', sans-serif;
                        margin-left: 4px;   
                        font-size: 2vw;
                    }

                .menu_book {
                    margin-left: 5px;
                    margin-right: 5px;
                    display: flex;
                    flex-direction: row;
                    color: white;
                }
                    .menu_book__btn{
                        width: 6vw;
                    }
    
                    .menu_book__text {
                        font-family: 'Ubuntu', sans-serif;
                        width: 35px; 
                        margin-left: 4px;  
                        margin-top: 5px;
                        font-size: 2vw;
                    }
                    .text {
                        font-family: 'Ubuntu', sans-serif;
                        width: 21vw;
                        height: 30px;
                        border: none;
                        border-radius: 0.6vw; 
                        margin-top: 4px;
                    }
                    .srch_btn {
                        position: relative;
                        background-color: #3CBB9D;
                        margin-left: 4px;
                        height: 30px;
                        width: 7vw;
                        border: none;
                        border-radius: 0.6vw;
                        color: white;
                        align-items: center;
                        margin-top: 4px;
                       }
                        .search_btn_text{
                            text-decoration: none;
                            font-size: 10px;
                        }
                        .srch_btn .srch__icon{
                            position: absolute;
                            height: 5vw;
                            width: 4vw;
                            left: 1vw;
                            top: 1vw;
                        }



    .container-500{
        position: absolute;
        display: flex;
        flex-direction: row;
        /* top: 94vw; */
        left: 5vw;
        width: 90vw;
        height: 152vw;
        background-color: #626161;
    }
    .books-500{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #626161;
        /* border-radius: 1vw ; */
        /* padding-top: 2vw; */
    }

        .books_div-500{
            display: flex;
            flex-direction: row;
            width: 94vw;
            padding-left: 25px;
        }

            .books-title_section{
                color: #fff;
                font-family: 'Ubuntu', sans-serif;
                text-align: center;
                margin-top: 15px;
            }

           

            .books_div-500 .sale_of_day__imgs{
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                 gap:7vw; 
                margin-right: 1.5vw;
                /* grid-template-columns: 1fr 1fr 1fr; */
            } 
                    .sale_of_day__div{
                        margin-top: 20px;
                        /* position: relative; */
                        right: 1vw;
                        width: 36vw;
                    }

                    .sale_of_day__imgs .sale_of_day__div .shadow{
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height:20%;
                        background-color: rgba(0, 0, 0, .6);
                        z-index: 11;
                        border-radius: 0;
                        color: white;
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 0.9vw;
                        align-items: center;
                        padding: 1vw;
                    }
                            .sale_of_day__div .shadow a{
                                font-size: 2.9vw;
                            }
                    .sale_of_day__div .price_place__sale-500{
                        display: flex;
                        color: white;
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 11px;
                        position: absolute;
                        top: 1.2vw;
                        right: 0.5vw;
                        height: 30px;
                        width: 18vw;
                        background-color: rgba(0, 0, 0, .7);
                        z-index: 8;
                        border-radius: 10px;
                        text-decoration: line-through;
                        text-align: center;
                        align-items: center;
                        padding-left: 0.5vw;
                    }

                    .sale_of_day__div .price_place-500{
                        display: flex;
                        color: white;
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 2.7vw;
                        position: absolute;
                        top: 1.2vw;
                        right: 0.5vw;
                        height: 30px;
                        width: 9vw;
                        background-color: #3CBB9D;
                        z-index: 8;
                        border-radius: 0 10px 10px 0;
                        text-align: center;
                        align-items: center;
                        padding-left: 0.5vw;
                    }
                    .sale_of_day__div .sale_of_day__img{
                        width: 100%;
                        height: auto;
                        margin-bottom: 0.5vw;
                        height: 100%;
                    }
            
            

                }