html{
    box-sizing: border-box
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

	.container{
		position: relative;
		display: flex;
		flex-direction: column;
	}

		.book_page{
			display: flex;
			flex-direction: column;
		}

			.book_of_day__title_and_price{
				display: flex;
				flex-direction: row;
			}
				.book_of_day__img{
					height: 810px;
					width: 539px;
					margin: 32px 0 0 122px;
				}

				.title{
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 400px;
					color: white;
					font-size: 30px;
        			font-family: 'Ubuntu', sans-serif;
        			position: relative;
				}
					.title_of_book{
						margin: 32px 0 0 91px;
						font-weight: bold;
					}
					.first_desc_of_book{
						margin: 28px 0 0 48px;
						width: 680px;
						height: 128px;
					}
					.author{
						margin: 28px 0 0 28px;

					}
				.stars_and_buy{
					height: 73px;
					width: 185px;
					margin: 35px 0 0 22px;
					background-color: #363636;
					border-radius: 10px;
				}
					.grades{
						position: relative;
						display: flex;
						flex-direction: row;
						height: 73px;
						width: 185px;
					}
						.stars{
							position: absolute;
							left: 13px;
							top: 10px;
							width: 28;
							height: 23px;
						}
						.stars_sum{
							position: absolute;
							top: 9px;
							left: 49px;
							font-size: 22px;
							color: #3CBB9D;
						}
						.sum{
							position: absolute;
							top: 37px;
							left: 16px;
							font-size: 22px;
						}
						.stars_and_buy .vert_line{
							position: absolute;
							right: 92px;
							top: 13px;
							background-color: #515151;
							height:48px;
							width: 2px;
						}
						.notes{
							position: absolute;
							right: 56px;
							top: 10px;
							width: 20px;
							height: 20px;
						}
						.notes_sum{
							position: absolute;
							top: 8px;
							right: 15px;
							font-size: 22px;
						}
						.notes_text{
							position: absolute;
							top: 41px;
							right: 12px;
							font-size: 17px;
						}

				.buy_and_like{
					position: absolute;
					top: 323px;
					right: 307px;
					background-color: #3CBB9D;
					width: 258px;
					height: 71px;
					border-radius: 10px;
				}
					.favorite{
						position: absolute;
						top: 22px;
						left: 15px;
						width: 35px;
						height: 32px;
					}
					.favorite_text{
						position: absolute;
						left: 57px;
						top: 23px;
						font-size: 22px;
					}
					.buy_and_like .vert_line{
						position: absolute;
						right: 84px;
						top: 11px;
						background-color: white;
					}
					.shopping_cart{
						position: absolute;
						right: 23px;
						top: 17px;
						width: 35px;
						height: 35px;
					}
				.buy_form{
					top: 400px;
/*					right: 150px;*/
					left: 22px;
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #363636;
					width: 610px;
					height: 337px;
					margin-top: 73px;
					border-radius: 10px;
				}

			.book_of_day__description_and_quotes{

			}

		
