.container {
 width: 100%;
 height: 800px;
 background-color: grey;
 	.slider{
 		display: flex;
 		align-items: flex-end;
 		justify-items: center;
 		height: 250px;
 		background-color: #c9c9c9;
 		.menu{
 			background-color: rgba(0,0,0, 0);
 			font-size: 30px;
 			width: 100%;
 			text-align: center;
 			padding: 0 auto 0 auto;
 			
 			a{
 				margin: 0 70px 0 70px;
 				text-decoration: none;
 				outline: none;
 				color: white;
 			}
 		}
 	}
 	.search{
 		background-color: #363636;
 		height: 100px;
 		display: flex;
 		justify-content: center;
 		align-items: center;
 		padding-right: 60px;

 		.logo{
 			font-size: 22px;
 			margin: 0 auto 0 60px;
 			color: #8B5CC5;
 		}
 		.text{
 			width: 60%;
 			height: 58px;
 			border:none;
 			border-radius: 10px;
 		}
 		.search_btn{
 			display: flex;
 			background-color: #8B5CC5;
 			margin-left: 15px;
 			height: 58px;
 			width: 111px;
 			border: none;
 			border-radius: 10px;
 			color: white;
 			align-items: center;
 			padding: 20px;
 			font-size: 17px;
 			
 			.srch_icon{
 				width: 20px;
 				margin-left: 5px;
 				
 			}
 		}
 		.login{
 			display: flex;
 			flex-direction: row;
 			color: white;
 			justify-items: space-between;


 		}
 		.menu_book{
 			display: flex;
 			flex-direction: row;
 			color: white;
 			margin-left: 15px;
			gap: 10px; 		
			.menu_book__text{
				width: 80px;
				}	
 		}
 	}
}


