html{
    box-sizing: border-box;
    /* background-color:#363636; */
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/* @media(max-width:500px){
    
} */

.wrapper-500{
    background-color: #363636;  
    max-width: 500px;
    height: 1000px;
}
    .menu_and_slider{
        width: 100%;
        height: 300px;
    }
        .slider{
            width: 100%;
            height: 100%;
        }
            .swiper{
                width: 100%;
                height: 100%;
            }
                .shadow{
                    /* position: absolute; */
                    width: 100%;
                    overflow: hidden;
                    height:100%;
                    background-color: rgba(0, 0, 0, .6);
                    z-index: 11;
                    border-radius: 1vw;
                }
                .swiper-wrapper{
                    width: 100%;
                    height: 100%;
                }

    .container-500{
            width: 450px;
            height: 1000px;
            background-color: #626161;
            margin: 0 auto 0 auto;
        }