
.wrapper{
  background-color: #363636;
  width: 100%;
}
  .container {
    margin: 0 auto 0 auto;
    width: 80%;
    height: 10000px;
    background-color: #363636; }
    .container .slider {
      display: flex;
      align-items: flex-end;
      justify-items: center;
      border-radius: 0px 0px 10px 10px;
      height: 250px;
      background-color: #c9c9c9; }
      .container .slider .menu {
        background-color: rgba(0, 0, 0, 0);
        font-size: 30px;
        width: 100%;
        text-align: center;
        padding: 0 auto 0 auto; }
        .container .slider .menu a {
          margin: 0 70px 0 70px;
          text-decoration: none;
          outline: none;
          color: white; }
    .container .search {
      background-color: #363636;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 60px; }
      .container .search .logo {
        font-size: 22px;
        margin: 0 auto 0 60px;
        color: #8B5CC5; }
      .container .search .text {
        width: 60%;
        height: 58px;
        border: none;
        border-radius: 10px; }
      .container .search .search_btn {
        display: flex;
        background-color: #8B5CC5;
        margin-left: 15px;
        height: 58px;
        width: 111px;
        border: none;
        border-radius: 10px;
        color: white;
        align-items: center;
        padding: 20px;
        font-size: 17px; }
        .container .search .search_btn .srch_icon {
          width: 20px;
          margin-left: 5px; }
      .container .search .login {
        display: flex;
        flex-direction: row;
        color: white;
        justify-items: space-between; }
      .container .search .menu_book {
        display: flex;
        flex-direction: row;
        color: white;
        margin-left: 15px;
        gap: 10px; }
        .container .search .menu_book .menu_book__text {
          width: 80px; }



    .books{
      display: flex;
      flex-direction: row;
    }
      .books .book_of_day{
        display: flex;
        flex-direction: column;
     
      }
        .books .day_book__img{
     
        }
        .books .day_book__title{

        }


      .books .sale_of_day{
        display: flex;
        flex-direction: column;

/*        grid-area: */
/*        "title title title"*/
/*        "img img img"*/
/*        "img img img"*/
        ;
      }
        .sale_of_day .sale_of_day__title{
          display: grid;
          text-align: center;
        grid-area: title;
        }
        .sale_of_day .sale_of_day__img{
          display: grid;
          gap: 50px;
          grid-template-columns: 1fr 1fr 1fr;
/*        

        }


