.qoutes_book__text{
	height: 7vw;
}

.qoutes_book__text + .qoutes_book__text{
	height: 11vw;
}

.qoutes_book__text + 
.qoutes_book__text +
.qoutes_book__text{
	height: 9vw;
}


.notes_div_text{
	display: flex;
	flex-direction: column;
	border-radius: 2vw;
	background-color: #363636;
	width: 50vw;
	margin: 1vw 0 0 8.3vw;
	height: 8vw;
	padding: 1vw;
	font-size: 1.1vw;
  }
  .notes_div_text + .notes_div_text{
	height: 15vw;
  }
  .notes_div_text + .notes_div_text + .notes_div_text{
	height: 9vw;
  }