html{
    box-sizing: border-box;
    background-color:#363636;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


.wrapper-500{
	display: none;
}


@media(max-width:500px) {
	.wrapper{
		width: 100vw;
	}
}


.wrapper{
  height: 100vh;
  width: 99vw;
  background-color: #363636;

}
  .container{
    border-radius: 0.6vw 0.6vw 0 0;
    width: 90%;
    height: 150%;
/*    background-color: #626161;*/
    margin: auto;

  }



    .container .menu_and_search {
        width: 90vw;
        height: 5vw;
        background-color: #363636;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      .logo {
        font-size: 1.5vw;
        margin: 0 5vw 0 1.5vw;
        color: #3CBB9D;  
          }
        .logo a{
          text-decoration: none; 
          color: #3CBB9D;
        }
      .container .menu_and_search .text {
        font-family: 'Ubuntu', sans-serif;
        width: 60vw;
        height: 3.4vw;
        border: none;
        border-radius: 0.6vw; 
      }

        .text::placeholder{
          color:rgba(0, 0, 0, .3);
          padding: auto;
          padding-left: 3vw;
          font-size: 1.2vw;
          font-family: 'Ubuntu', sans-serif;
          height: 2vw;
        }

      .container .menu_and_search .search_btn {
         display: flex;
         background-color: #3CBB9D;
         margin-left: 1.5vw;
         height: 3.4vw;
         width: 6.6vw;
         border: none;
         border-radius: 0.6vw; 
         color: white;
         align-items: center;
         padding: 1vw;
         font-size: 1.2vw; 
      }
        .search_btn_text{
          text-decoration: none;
        }
        .srch__icon{
          width: 1.3vw;
          height: 1.3vw;
          margin-left: 0.2vw;   
        }

        .container .menu_and_search .login {
          margin-left: 1.2vw;
          display: flex;
          flex-direction: row;
          color: white;
          justify-items: space-between;
          align-items:center; 
        }
          .login__btn{
            width: 3vw;
          }

          .login .login__text {
            font-family: 'Ubuntu', sans-serif;
            margin-left: 1vw;
            font-size: 1vw;
          }

          .login .login__text {
            font-family: 'Ubuntu', sans-serif;
            margin-left: 0.7vw
          }

        .container .menu_and_search .menu_book {
          margin-left: 1.5vw;
          margin-right: 1vw;
          display: flex;
          flex-direction: row;
          color: white;
        }
          .menu_book__btn{
              width: 3vw;
            }
          .menu_book .menu_book__text {
            font-family: 'Ubuntu', sans-serif;
            width: 5vw; 
            margin-left: 1vw;  
            margin-top: 1vh;
            font-size: 1vw;
          }





/*        ####################################################################          */




          .book_page{
            display: flex;
            flex-direction: column;
          }

            .book__title_and_price{
              display: flex;
              flex-direction: row;
              border-radius: 0.6vw 0.6vw 0 0;
              background-color: #626161;
              height: 53vw;
              width: 89vw;
            }
              .book_of_day__img{
                height: 47vw;
                width: 44vw;
                margin: 2vw 0 0 3vw;
              }

              .title{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 47vw;
                color: white;
                font-size: 1.4vw;
                font-family: 'Ubuntu', sans-serif;

              }
                .title_of_book{
                  margin: 3vw 0 0 2vw;
                  font-weight: bold;
                  font-size: 2.5vw;
                }
                .title_of_book-bookday{
                  margin: 2.2vw 0 1vw 3.4vw;
                  font-weight: bold;
                  font-size: 2.2vw;
                }
                .first_desc_of_book{
                  margin: 0 0 0 3vw;
                  width: 40vw;
                  height: 12vw;
                  min-height: 5vw;
                }
                .author{
                  margin: 2vw 0 0 3vw;

                }
              .stars_and_buy{
                display: flex;
                flex-direction: row;
                height: 7vw;
                width: 36vw;
                margin: 3vw 0 0 3vw;               
              }
              .grades_left{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 5.2vw;
              }
              .grades_right{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                width: 5.2vw;
              }
                .grades{
                  position: relative;
                  display: flex;
                  flex-direction: row;
                  height: 4vw;
                  background-color: #363636;
                  width: 11.3vw;
                  border-radius: 0.6vw;
                }
                  .stars{
                    margin: 0.4vw 0 0 0.4vw;
                    height: 2vw;
                    height: 1.4vw;
                  }
                  .stars_sum{
                    margin: 0.3vw 0 0 0.3vw;
                    font-size: 1.2vw;
                    color: #3CBB9D;
                  }
                  .sum{
                    margin: 0 0 0 1vw;
                    font-size: 1.1vw;
                  }
                  .grades .vert_line{
                    background-color: #515151;
                    height: 3vw;
                    width: 0.15vw;
                    margin: 0.5vw 0 0 0;
                  }
                  .notes{
                    width: 1.3vw;
                    height: 1.3vw;
                    margin: 0.5vw 0 0 0.6vw;
                  }
                  .notes_sum{
                    font-size: 1.2vw;
                    margin: 0.4vw 0 0 0.4vw
                  }
                  .notes_text{
                    font-size: 1.1vw;
                    margin: 0 0 0 1vw;
                  }

              .buy_and_like{
                display: flex;
                flex-direction: row;
                margin: 0 0 0 12vw;
                background-color: #3CBB9D;
                width: 13.5vw;
                height: 3.9vw;
                border-radius: 0.6vw;
              }
                .favorite{
                  margin: 0.8vw 0 0 0;
                  width: 3.2vw;
                  height: 2vw;
                }
                .favorite_text{
                  margin: 1.1vw 0 0 0;
                  font-size: 1.22vw;
                }
                .buy_and_like .vert_line{
                  margin: 0.5vw 0 0 0.3vw;
                  width: 0.14vw;
                  height: 3vw;
                  background-color: white;
                }
                .shopping_cart{
                  margin: auto;
                  width: 2vw;
                  height: 2.2vw;
                }
              .buy_form{
                display: flex;
                flex-direction: column;
                background-color: #363636;
                width: 36vw;
                height: 100%;
                margin: 2vw 0 0 3vw;
                border-radius: 0.6vw;
                font-size: 1.2vw;
                font-weight: bold;
              }
                .btn_buy{
                  margin: 1vw 0 0 4.4vw;
                  padding-top: 0.7vw;
                  width: 27vw;
                  height: 3vw;
                  background-color: #3CBB9D;
                  border-radius: 0.6vw;
                  text-align: center;

                }
                .table_prices{
                  width: 36vw;
                  height: 10vw;
                }
                table{
                  padding: 1vw 1vw 0 1vw;
                  line-height: 2.2vw;
                  height: 8vw;
                }
                th{
                  font-weight: lighter;
                }
                  .th_price_book{
                    width: 76%;
                    margin: 0 10vw 0 2vw;
                    text-align: left;
                    height: 1vw;
                  }
                  .th_sum{
                    margin: 0 0 0 5vw;
                    width: 30vw;
                    height: 1vw;
                  }
                  
                .horLine{
                  width: 30vw;
                  height: 0.2vw;
                  background-color: #515151;
                  margin: 0 0 0 3vw;
                }
                .final_price{
                  display: flex;
                  flex-direction: row;
                }
                  .final_price_text{
                    margin: 0.2vw 0 0 1.2vw;
                  }
                  .final_price_num{
                    margin: 0.2vw 0 0 24.4vw;
                  }




/*         ############################################         */




        .book_description_and_quotes{
        position: relative;
        width: 89vw;
        height: 55vw;
        color: white;
        font-size: 1.2vw;
        font-family: 'Ubuntu', sans-serif;  
        background-color: #626161;

      }
        .description_naw{
          display: flex;
          padding-top: 1vw;
        }
          .description_naw p{
            height: 2.5vw;
            margin: 0 0.6vw 0 0.6vw;
          }
        .vert_line_naw{
          width: 75.45vw;
          height: 0.2vw;
          background-color: #363636;
        }
          .naw_sqre-left{
            height: 0.5vw;
            width: 6vw;
            background-color: #3CBB9D;

          }
          .naw_sqre-center{
            margin-left: 5.4vw;
            height: 0.5vw;
            width: 6vw;
            background-color: #3CBB9D;
          }
          .naw_sqre-right{
            margin-left: 11.2vw;
            height: 0.5vw;
            width: 6vw;
            background-color: #3CBB9D;
          }

        .about_description{
          margin: 0 0 0 5vw;
        }


        .inactive{
          display: none;
        }
        .about_book-active{
          width: 70vw;
          height: 50vw;
        }
        .about_book__title{
          margin-top: 1.5vw;
          font-size: 1.6vw;
          font-weight: bold;
        }
        .about_book__text{
          margin-top: 1vw;
          line-height: 1.5vw;
        }
        .detail_info{
          margin-top: 4vw;
          font-weight: bold;
        }
        .detail_info__text{
          margin-top: 1vw;
          font-weight: lighter;
          line-height: 1.5vw;
        }


        


        .quotes_book_div-active{
          width: 67vw;
          height: 44vw;
          margin-top: 3vw;
          background-color: #ADADAD;
          display: flex;
          flex-direction: column;
          border-radius: 0.6vw; 

        }
          .name_div{
            margin-top: 3vw;
            margin-left: 7vw;
          }
          .qoutes_book__text{
            font-family: inter; 
            border-radius: 2vw;
            background-color: #363636;
            width: 50vw;
            margin: 0.3vw auto 1vw auto;
            padding: 2vw 1vw 0 1vw;
            font-size: 1.1vw;
            height: fit-content;
            padding-bottom: 2vw;
          }
            .qoutes_book__text::before{
              content: "“";    
              font-size: 4vw;     
              color: #3CBB9D;  
              line-height: 0vw;     
             }
   



          .notes_div{
            width: 67vw;
            height: 44vw;
            margin-top: 3vw;
            background-color: #ADADAD;
            display: flex;
            flex-direction: column;
            border-radius: 0.6vw;

          } 

            .person_and_score{
              margin-bottom: 0.5vw;
            }
              .score{
                margin-bottom: 1vw;
                width: 1.3vw;
              }
              .person{
                margin-right: 1vw;
                width: 2.5vw;

              }
            
            .notes_div_text{
              display: flex;
              flex-direction: column;
              border-radius: 2vw;
              background-color: #363636;
              width: 50vw;
              margin: 1vw 0 0 8.3vw;
              font-size: 1.1vw;
              padding: 1vw;
              height: fit-content;
              padding-bottom: 2vw;
              
            }
          

