html{
    box-sizing: border-box;
/*    height: 1700px;*/
background-color: #363636;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.wrapper{
height: 100%;
width: 1905px;
}
	.container{
		position: relative;
		display: flex;
		flex-direction: column;

		height: 1900px;
	}

		a{
			text-decoration: none;
			color: white;
		}
/* 		height: 1700px; */
	}
		.book_page{
			display: flex;
			flex-direction: column;
		}

			.book_of_day__title_and_price{
				display: flex;
				flex-direction: row;
			}
				.book_of_day__img{
					height: 780px;
					width: 539px;
					margin: 32px 0 0 122px;
				}

				.title{
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 400px;
					color: white;
					font-size: 30px;
        			font-family: 'Ubuntu', sans-serif;
        			position: relative;
				}
					.title_of_book{
						margin: 64px 0 0 91px;

/* 						margin: 32px 0 0 91px; */

						font-weight: bold;
						font-size: 52px;
					}
					.first_desc_of_book{

						margin: 0px 0 0 48px;

/* 						margin: 28px 0 0 48px; */

						width: 680px;
						height: 128px;
					}
					.author{
						margin: 28px 0 0 48px;

					}
				.stars_and_buy{
					height: 73px;

					width: 220px;

/* 					width: 185px; */

					margin: 35px 0 0 48px;
					background-color: #363636;
					border-radius: 10px;
				}
					.grades{
						position: relative;
						display: flex;
						flex-direction: row;
						height: 73px;

						width: 220px;

/* 						width: 185px; */
					}
						.stars{
							position: absolute;
							left: 13px;
							top: 10px;
							width: 28;
							height: 23px;
						}
						.stars_sum{
							position: absolute;
							top: 9px;
							left: 49px;
							font-size: 22px;
							color: #3CBB9D;
						}
						.sum{
							position: absolute;
							top: 37px;
							left: 16px;
							font-size: 22px;
						}
						.stars_and_buy .vert_line{
							position: absolute;

							right: 110px;

/* 							right: 92px; */

							top: 13px;
							background-color: #515151;
							height:48px;
							width: 2px;
						}
						.notes{
							position: absolute;

							right: 80px;

/* 							right: 56px; */

							top: 10px;
							width: 20px;
							height: 20px;
						}
						.notes_sum{
							position: absolute;
							top: 8px;

							right: 10px;

/* 							right: 15px; */

							font-size: 22px;
						}
						.notes_text{
							position: absolute;
							top: 41px;
							right: 12px;

							font-size: 18px;

/* 							font-size: 12px; */
						}

				.buy_and_like{
					position: absolute;

					top: 328px;

/* 					top: 323px; */

					right: 282px;
					background-color: #3CBB9D;
					width: 258px;
					height: 71px;
					border-radius: 10px;
				}
					.favorite{
						position: absolute;
						top: 22px;
						left: 15px;
						width: 35px;
						height: 32px;
						font-size: 22px;
					}
					.favorite_text{
						position: absolute;
						left: 57px;
						top: 23px;
						font-size: 22px;
					}
					.buy_and_like .vert_line{
						position: absolute;
						right: 84px;
						top: 11px;
						background-color: white;
					}
					.shopping_cart{
						position: absolute;
						right: 23px;
						top: 17px;
						width: 35px;
						height: 35px;
					}
				.buy_form{
					top: 400px;
/*					right: 150px;*/
/*					left: 22px;*/
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #363636;
					width: 610px;
					height: 337px;
					margin-top: 73px;
					margin:73px 0 0 48px;
					border-radius: 10px;
					font-size: 22px;
					font-weight: bold;
				}
					.btn_buy{
						position: absolute;
						padding-top: 10px;
						width: 482px;
						height: 53px;
						background-color: #3CBB9D;
						right: 64px;
						top: 21px;
						border-radius: 10px;
						text-align: center;

					}
					.table_prices{
						position: absolute;
						top: 100px;
					}
					table{
						line-height: 40px;
/*						font-weight: lighter;*/
/*						font-size: 22px;*/
					}
					th{
						font-weight: lighter;
					}
					.horLine{
						width: 569px;
						height: 2px;
						background-color: #515151;
						margin: 0 0 0 20px;
					}
					.final_price_text{
						position: absolute;
						left: 0;
						margin-left: 25px;
						margin-top: 10px;
					}
					.final_price_num{
						position: absolute;
						right: 0;
						margin-top: 10px;
						margin-right: 7px;
					}

			.book_of_day__description_and_quotes{
				position: relative;
				width: 1167px;
				height: 500px;
/*				background-color: darkcyan;*/
				margin: 73px 0 0 122px;
				color: white;
				font-size: 22px;
				font-family: 'Ubuntu', sans-serif;	

			}
				.description_naw{
					display: flex;

/*					gap: 28px;*/
				}
					.description_naw p{
						height: 50px;
						margin: 0 10px 0 10px;
					}

				.vert_line_naw{
/* 					gap: 28px; */
				}

				.vert_line_naw{
/* 					margin-top: 20px; */
					width: 1150px;
					height: 2px;
					background-color: #363636;
				}
					.naw_sqre{
						height: 8px;
						width: 102px;
						background-color: #3CBB9D;

					}


					.naw_sqre-center{
						margin-left: 100px;
						height: 8px;
						width: 102px;
						background-color: #3CBB9D;
					}
					.naw_sqre-right{
						margin-left: 210px;
						height: 8px;
						width: 102px;
						background-color: #3CBB9D;
					}
				.about_book__title{
/* 					display: none; */
				.about_book__title{

					margin-top: 26px;
					font-size: 27px;
					font-weight: bold;
				}
				.about_book__text{

					display: none;


					margin-top: 14px;
					line-height: 30px;
				}
				.detail_info{

					display: none;

					margin-top: 45px;
					font-weight: bold;
				}
				.detail_info__text{

					display: none;


					margin-top: 20px;
					font-weight: lighter;
					line-height: 35px;
				}






				.quotes_book_div{
					width: 1195px; 
					height: 735px;
					margin-top: 70px;
					background-color: #ADADAD;
					display: flex;
					flex-direction: column;
					border-radius: 10px;

				}
					.quotes_book_div p{
						margin-top: 50px;
						margin-left: 100px;

						
					}
					.qoutes_book__text{
						font-family: inter;
						border-radius: 20px;
						background-color: #363636;
						width: 930px;
						margin: 5px auto 20px auto;
						height: 110px;
/*						text-align: center;*/
						padding: 30px 20px 0 20px;
						font-size: 20px;
					}
						.qoutes_book__text::before{
					    content: "“"; /* Левая кавычка */
					    font-size: 70px; /* Размер текста кавычек */
					    color: #3CBB9D; /* Цвет кавычек */
					    line-height: 0px; /* Текст не занимает место */
					   }
					.qoutes_book__text + .qoutes_book__text{
						height: 230px;
					}

					.qoutes_book__text + .qoutes_book__text + .qoutes_book__text{
						height: 200px;

					}

		

